button {
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
    box-shadow: var(--shadow);
    border-radius: 4px;
    transition: background-color var(--animation);
    &:hover,
    &:focus {
        background-color: #1f89df;
    }
  }