.header__logo
 {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header__logo .header__logo-web  {
  color: var(--accent-color);
}