:root {

// color
    
    --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-box: #2f303a;
  --background-team: #f5f4fa;
  --shadow: rgba(0, 0, 0, 0.15);
  --secondary-bg-color: #f5f4fa;
  --iconcolor: #afb1b8;

// animation

--animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
