.section-works {
    padding-bottom: 94px;
  }
  
  .works__list {
    display: flex;
  }
  
  
  .works__title {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    position: absolute;
    text-transform: uppercase;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    margin: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
  
    background: rgba(47, 48, 58, 0.8);
  }
  
  
  .we-do-item-list {
    position: relative;
    margin-right: 30px;
  }
  
  .we-do-item-list-last {
    margin-right: 0;
  }
  